---
const { align = "center" } = Astro.props;
---

<div class:list={["mt-16", align === "center" && "text-center"]}>
  <h1 class="text-6xl lg:text-8xl font-bold lg:tracking-tight">
    <slot name="title"></slot>
  </h1>
  <p class="text-2xl font-bold mt-4">
    <slot name="desc"></slot>
  </p>
</div>
