---
import { Picture } from 'astro:assets';
// import heroImage from 'assets/hero.png';
import Link from '@components/ui/link.astro';
import { Icon } from 'astro-icon/components';
---

<main
  class='flex flex-col justify-center items-center min-h-screen pt-16 pb-8 md:pt-12 md:pb-24'>
  <!-- <div class='py-6 md:order-1 hidden md:block'>
    <Picture
      src={
      alt='Astronaut in the air'
      widths={[200, 400, 600]}
      sizes='(max-width: 800px) 100vw, 620px'
      loading='eager'
      format='avif'
    />
  </div> -->
  <div class='text-center'>
    <h1
      class='text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter'>
      Hopkins Creek
    </h1>
    <p class='text-lg mt-4 text-slate-600 max-w-xl'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia vero
      quibusdam eaque rem quasi, maxime molestias maiores aliquid nesciunt
      culpa!
    </p>
    <div
      class='mt-6 flex flex-col sm:flex-row gap-3 justify-center items-center'>
      <Link
        href='#'
        href='https://web3templates.com/templates/astroship-starter-website-template-for-astro'
        target='_blank'
        class='flex gap-1 items-center justify-center'
        rel='noopener'>
        <Icon
          class='text-white w-5 h-5'
          name='bx:bxs-cloud-download'
        />
        Ballot info
      </Link>
      <Link
        size='lg'
        style='outline'
        rel='noopener'
        href='https://github.com/surjithctly/astroship'
        class='flex gap-1 items-center justify-center'
        target='_blank'>
        <Icon
          class='text-black w-4 h-4'
          name='bx:bxl-github'
        />
        Contact us
      </Link>
    </div>
  </div>
</main>
